---
title: Le Wagon - Team
---
<div id="team">
  <div class="team-content">
    <ul class="list-inline text-center">
  <li>
    <img src="https://avatars2.githubusercontent.com/u/42588446?v=4" class="img-circle">
    <h3>John Freeman</h3>
  </li>
  <li>
    <img src="https://avatars3.githubusercontent.com/u/40477986?v=4" class="img-circle">
    <h3>Esteban Montantes</h3>
  </li>
</ul>
  </div>
</div>
